# US Gun Deaths Data

# Reading data

In [4]:
import csv
f = open("guns.csv","r")
data = list(csv.reader(f))
print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

# Remove headers

In [5]:
# remove header
headers = data[0]
data = data[1:len(data)]
print("HEADERS:")
print(headers, "\n")
print("DATA WITHOUT HEADERS:")
print(data[0:4], "\n")

HEADERS:
['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']

DATA WITHOUT HEADERS:
[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

# Gun deaths per year

In [6]:
# count of incidents in each year
years = []
for row in data:
    years.append(row[1])
    
    
# year count
year_counts = {}
for each in years:
    if each in year_counts:
        year_counts[each] = year_counts[each] + 1
    else:
        year_counts[each] = 1

year_counts

{'2012': 33563, '2013': 33636, '2014': 33599}

# Deaths count by year and month

In [7]:
import datetime
dates = []
for row in data:
    year = int(row[1])
    month = int(row[2])
    dates.append(datetime.datetime(year, month, day = 1))

dates[:5]

[datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 1, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0),
 datetime.datetime(2012, 2, 1, 0, 0)]

In [8]:
# date counts
date_counts = {}
for each in dates:
    if each in date_counts:
        date_counts[each] = date_counts[each] + 1
    else:
        date_counts[each] = 1
date_counts

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

# Deaths by Gender

In [10]:
# sex count
sex = [row[5] for row in data]
sex_counts = {}
for each in sex:
    if each in sex_counts:
        sex_counts[each] += 1
    else:
        sex_counts[each] = 1
print("Count by Gender:")
print(sex_counts, "\n")

Count by Gender:
{'F': 14449, 'M': 86349}

# Deaths by Race

In [11]:
# race count
races = [row[7] for row in data]
race_counts = {}
for race in races:
    if race in race_counts:
        race_counts[race] += 1
    else:
        race_counts[race] = 1
print("Count by Race:")
print(race_counts, "\n")

Count by Race:
{'Black': 23296, 'Asian/Pacific Islander': 1326, 'Native American/Native Alaskan': 917, 'White': 66237, 'Hispanic': 9022}

# Analysis:
* Highest victims by gender are Males
* Highest deaths by race are Whites and Blacks with least as Native

# Reading 'Census' Dataset

In [12]:
# Census
import csv
f = open("census.csv", "r")
census = list(csv.reader(f))
print("US CENSUS DATA:")
print(census, "\n")

US CENSUS DATA:
[['Id', 'Year', 'Id', 'Sex', 'Id', 'Hispanic Origin', 'Id', 'Id2', 'Geography', 'Total', 'Race Alone - White', 'Race Alone - Hispanic', 'Race Alone - Black or African American', 'Race Alone - American Indian and Alaska Native', 'Race Alone - Asian', 'Race Alone - Native Hawaiian and Other Pacific Islander', 'Two or More Races'], ['cen42010', 'April 1, 2010 Census', 'totsex', 'Both Sexes', 'tothisp', 'Total', '0100000US', '', 'United States', '308745538', '197318956', '44618105', '40250635', '3739506', '15159516', '674625', '6984195']]

# Computing gun deaths by race

In [13]:
# Race Counts per hundred thousand
mapping = { "Asian/Pacific Islander":674625 + 6984195, "Black":44618105,
          "Native American/Native Alaskan":40250635, "Hispanic":197318956,
          "White":308745538 }
race_per_hundredk = {}
for i,j in race_counts.items():
    race_per_hundredk[i] = (j/mapping[i])*100000
print("Race per Hundred Thousand:",race_per_hundredk, "\n")

Race per Hundred Thousand: {'Black': 52.211988832784364, 'Asian/Pacific Islander': 17.313372033811998, 'Native American/Native Alaskan': 2.278224927383133, 'White': 21.453589395678975, 'Hispanic': 4.572292588047142}

# Computing gun deaths by 'Intent'

In [14]:
# extract Homicide intent
intents = [row[3] for row in data]
races = [row[7] for row in data]

homicide_race_counts = {}
for i,race in enumerate(races):
    if intents[i] == "Homicide":
        if race in homicide_race_counts:
            homicide_race_counts[race] += 1
        else:
            homicide_race_counts[race] = 1

# mapping homicides
for i,j in homicide_race_counts.items():
    homicide_race_counts[i] = (j/mapping[i])*100000
print("Homicides Per Race per Hundred Thousand:")
print(homicide_race_counts, "\n")

Homicides Per Race per Hundred Thousand:
{'Black': 43.7266441503959, 'Asian/Pacific Islander': 7.298774484842313, 'Native American/Native Alaskan': 0.8099251104982568, 'White': 2.9626339085748987, 'Hispanic': 2.8552755975457322}

# Race with highest homicide rate

In [15]:
# Max homicides by race
homicide_race = [(v,k) for k, v in homicide_race_counts.items()]
max_homicides_per_race = max(homicide_race)[1]
print("Race with maximum Homicides:")
print(max_homicides_per_race,"\n" )

Race with maximum Homicides:
Black

# Homicides per month

In [16]:
# Homicides in every month
homicide_in_months = {}
for row in data:
    if row[3] == "Homicide":
        if row[2] in homicide_in_months:
            homicide_in_months[row[2]] += 1
        else:
            homicide_in_months[row[2]] = 1
homicide_in_months

{'01': 2829,
 '02': 2178,
 '03': 2780,
 '04': 2845,
 '05': 2976,
 '06': 3130,
 '07': 3269,
 '08': 3125,
 '09': 2966,
 '10': 2968,
 '11': 2919,
 '12': 3191}

# Suicides by Age

In [17]:
# Suicide by age
suicide_by_age = {}
for row in data:
    if row[3] == "Suicide":
        if row[6] in suicide_by_age:
            suicide_by_age[row[6]] += 1
        else:
            suicide_by_age[row[6]] = 1
print("Count of suicides by age:",suicide_by_age, "\n")

Count of suicides by age: {'11': 14, '71': 717, '90': 197, '26': 935, '51': 1338, '76': 532, '25': 883, '61': 1123, '52': 1334, '29': 846, '64': 967, '85': 418, '32': 824, '53': 1376, '88': 328, '36': 765, '91': 169, '50': 1248, '39': 812, '23': 949, '30': 832, '35': 810, '21': 864, '96': 35, '60': 1187, '15': 276, '77': 543, '27': 893, '98': 16, '73': 664, '9': 2, '57': 1226, '38': 836, '86': 394, '69': 799, '33': 782, '44': 979, '65': 910, '47': 1059, '19': 631, '14': 217, '59': 1196, '99': 5, '12': 54, '75': 633, '74': 618, '82': 493, '87': 298, '93': 100, '68': 755, '17': 432, '102': 2, '46': 1007, '13': 127, '22': 1012, '100': 1, '58': 1274, '72': 667, '89': 229, '10': 3, '45': 948, '63': 909, '49': 1218, '66': 857, '62': 917, '18': 556, '97': 18, '37': 821, '42': 934, '83': 516, '84': 453, '81': 524, '43': 1009, '56': 1343, '31': 870, '48': 1205, '41': 909, '80': 497, '101': 2, '28': 826, '67': 761, '70': 812, '34': 795, '16': 355, '40': 827, '92': 121, '79': 537, '94': 60, '95': 50, '20': 687, '24': 936, '78': 545, 'NA': 7, '54': 1390, '55': 1324}

# Age with highest Suicide rate

In [18]:
# Age with highest Suicides
suicide_age = [(v,k) for k,v in suicide_by_age.items()]
max_suicide_age = max(suicide_age)[1]
print("Sucide Maximum Age:",max_suicide_age, "\n")

Sucide Maximum Age: 54

# Homicide by gender count

In [20]:
# Homicide gender count
homicide_male_count = 0
homicide_female_count = 0

for row in data:
    if row[3] == "Homicide":
        if row[5] == "M":
            homicide_male_count += 1
        else:
            homicide_female_count += 1
print("Homicide Male Count:", homicide_male_count, "\n")
print("Homicide Female Count:", homicide_female_count, "\n")

Homicide Male Count: 29803

Homicide Female Count: 5373

# Homicides rate per year

In [21]:
# Homicide by year
homicide_by_year = {}
for row in data:
    if row[3] == "Homicide":
        if row[1] in homicide_by_year:
            homicide_by_year[row[1]] += 1
        else:
            homicide_by_year[row[1]] = 1
print("Homicide By Year")
print(homicide_by_year, "\n")

Homicide By Year
{'2014': 11409, '2012': 12093, '2013': 11674}

# Year with maximum homicides

In [22]:
#Max Homicide year
homicides_year = [(v, k) for k,v in homicide_by_year.items()]
max_homicides_year = max(homicides_year)[1]
print("Year with Maximum Homicides:", max_homicides_year, "\n")

Year with Maximum Homicides: 2012

# Homicides by Education

In [23]:
# Homicides count by Education
homicide_by_education_count = {}
for row in data:
    if row[3] == "Homicide":
        if row[10] in homicide_by_education_count:
            homicide_by_education_count[row[10]] += 1
        else:
            homicide_by_education_count[row[10]] = 1
print("Homicides count by education:")
print(homicide_by_education_count, "\n")

Homicides count by education:
{'5': 455, '2': 15649, '3': 5640, '4': 1559, 'NA': 34, '1': 11839}

# Highest education in all homicide cases

In [25]:
#Homicides with Max education

homicide_edu = [(v,k) for k, v in homicide_by_education_count.items() if not k == "NA"]
max_education_homicide = min(homicide_edu)[1]
print("Homicides with maximum education:")
print(max_education_homicide, "\n")

Homicides with maximum education:
5